* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 450px;
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input,
select,
button {
    padding: 12px;
    font-size: 15px;
    border-radius: 6px;
}

input,
select {
    border: 1px solid #ccc;
}

button {
    border: none;
    background: #222;
    color: white;
    cursor: pointer;
}

h2 {
    margin: 20px 0;
}

#expenseList {
    list-style: none;
}

.expense {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    margin-bottom: 10px;
    background: #f1f1f1;
    border-radius: 6px;
}

.expense-info {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.delete-btn {
    background: #c62828;
}